annotated-types
anyio
bcrypt
blis
catalogue
certifi
cffi
charset-normalizer
click
cloudpathlib
colorama
confection
cryptography
cymem
dnspython
ecdsa
email-validator
fastapi
greenlet
h11
idna
Jinja2
joblib
langcodes
language_data
marisa-trie
markdown-it-py
MarkupSafe
mdurl
murmurhash
numpy
packaging
pandas
passlib
preshed
pyasn1
pycparser
pydantic
pydantic_core
Pygments
PyMySQL
python-dateutil
python-jose
python-multipart
requests
rich
rsa
scikit-learn
scipy
setuptools
shellingham
six
smart_open
sniffio
spacy
spacy-legacy
spacy-loggers
SQLAlchemy
srsly
starlette
thinc
threadpoolctl
tqdm
typer
typing-inspection
typing_extensions
tzdata
urllib3
uvicorn
wasabi
weasel
wrapt

en_core_web_sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0-py3-none-any.whl